<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="utf-8">
    <!--
            _
     __   _(_)_ __   ___
     \ \ / / | '_ \ / __|
      \ V /| | | | | (__
       \_/ |_|_| |_|\___|

    -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title><%= [current_page.data.title, "Vinc"].compact.uniq.join(" - ") %></title>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <%= stylesheet_link_tag :syntax %>
    <%= stylesheet_link_tag :site %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <% unless page_classes == "index" %>
        <nav aria-label="breadcrumb" role="navigation">
          <%= breadcrumbs(current_page) %>
        </nav>
      <% end %>

      <article>
        <%= yield %>
      </article>
    </div>

    <%= partial "layouts/footer" %>
  </body>
</html>
